@model NBDProjectNcstech.Models.DesignBid

@{
    ViewData["Title"] = "Edit";
}


<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Natural By Design |Home</title>

    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="~/https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome Icons -->
    <link rel="stylesheet" href="~/plugins/fontawesome-free/css/all.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/dist/css/adminlte.min.css">
    <link rel="stylesheet" href="~/css/TableStyle.css">
</head>
<body class="hold-transition sidebar-mini">
    <div class="wrapper">

        <!-- Navbar -->
        <nav class="main-header navbar navbar-expand navbar-white navbar-light">
            <!-- Left navbar links -->
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
                </li>
                <li class="nav-item">
                    <h3>Hello, @User.Identity.Name!</h3>
                </li>


            </ul>

            <!-- Right navbar links -->
            @* 		<ul class="navbar-nav ml-auto">

            <li class="nav-item">
            <a class="nav-link" data-widget="fullscreen" href="#" role="button">
            <i class="fas fa-expand-arrows-alt"></i>
            </a>
            </li>
            </ul>*@
        </nav>
        <!-- /.navbar -->
        <!-- Main Sidebar Container -->
        <aside class="main-sidebar sidebar-dark-primary elevation-4">
            <!-- Brand Logo -->
            <a asp-controller="Home" asp-action="Index" class="brand-link">
                <img src="~/dist/img/natural.png" alt="nbd Logo" class="brand-image img-circle elevation-3">

                @* <img src="dist/img/nbd.png" alt="nbd Logo" class="brand-image img-circle elevation-3"> *@
                <span class="brand-text font-weight-bold" style="font-family: 'Times New Roman', Times, serif;">Natural By Design</span>

            </a>

            <!-- Sidebar -->
            <div class="sidebar">
                <!-- Sidebar user panel (optional) -->
                @*  <div class="user-panel mt-3 pb-3 mb-3 d-flex">
                <div class="image">
                <img src="dist/img/user2-160x160.jpg" class="img-circle elevation-2" alt="User Image">
                </div>
                <div class="info">
                <a href="#" class="d-block">Alexander Pierce</a>
                </div>
                </div> *@

                @*  <!-- SidebarSearch Form -->
                <div class="form-inline">
                <div class="input-group" data-widget="sidebar-search">
                <input class="form-control form-control-sidebar" type="search" placeholder="Search" aria-label="Search">
                <div class="input-group-append">
                <button class="btn btn-sidebar">
                <i class="fas fa-search fa-fw"></i>
                </button>
                </div>
                </div>
                </div> *@

                <!-- Sidebar Menu -->
                <nav class="mt-2">
                    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">




                        <!-- Home -->
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">
                                <i class="nav-icon fas fa-home"></i>
                                <p>Home</p>
                            </a>
                        </li>
                        @if (User.IsInRole("Sales") || User.IsInRole("Admin") || User.IsInRole("Management") || User.IsInRole("Designer"))
                        {


                            <!-- Client -->
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="Clients" asp-action="Index">
                                    <i class="nav-icon fas fa-users"></i>
                                    <p>Client</p>
                                </a>
                            </li>

                            <!-- Project -->
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="Projects" asp-action="Index">
                                    <i class="nav-icon fas fa-newspaper"></i>
                                    <p>Project</p>
                                </a>
                            </li>
                        }
                        @if (User.IsInRole("Admin") || User.IsInRole("Designer") || User.IsInRole("Management"))
                        {
                            <!-- Bid -->
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="DesignBids" asp-action="Index">
                                    <i class="nav-icon fas fa-handshake"></i>
                                    <p>Bids</p>
                                </a>
                            </li>
                        }
                        @if (User.IsInRole("Admin"))
                        {
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="UserRole" asp-action="Index">
                                    <i class="nav-icon fas fa-users"></i>
                                    <p>Maintain User Roles</p>
                                </a>
                            </li>

                        }
                        <l1 class="nav-item">
                            <form class="nav-link" asp-area="Identity" asp-page="/Account/Manage/Index" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                                <span> </span><button type="submit" class="">Manage Your Account</button>
                            </form>
                        </l1>
                        <l1 class="nav-item">
                            <form class="nav-link" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                                <i class="nav-icon fas fa-sign-out-alt"></i>
                                <span> </span><button type="submit" class="btn btn-light">Logout</button>
                            </form>
                        </l1>


                    </ul>
                </nav>
                <!-- /.sidebar-menu -->

            </div>
            <!-- /.sidebar -->
        </aside>



        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <div class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-6">
                        </div><!-- /.col -->
                    </div><!-- /.row -->
                </div><!-- /.container-fluid -->
            </div>
            <!-- /.content-header -->
            <!-- Main content -->
            <!-- /.content-header -->
            <!-- Main content -->
            <div class="content">
                <div class="container-fluid">

                    <!-- /.row -->
                    <div class="card">
                        <div class="card-header" style="background-color:#423535;">
                            <div class="row align-items-center">
                                <div class="col">
                                    <label class="control-label" style="color: white;">Edit Design Bid</label>
                                </div>

                            </div>
                        </div>

                        <div class="row mb-3">
                            <!-- Left column for edit form -->
                            <div class="col-md-6 px-4 py-4">
                                <form asp-action="Edit">
                                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                    <input type="hidden" asp-for="ID" />
                                    <div class="form-group">
                                        <label asp-for="ProjectID" class="control-label"></label>
                                        <select asp-for="ProjectID" class="form-control" asp-items="ViewBag.ProjectID"></select>
                                        <span asp-validation-for="ProjectID" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label">Staff</label>
                                        <div class="row">
                                            <div class="form-group col-md-6">
                                                <label class="control-label"> Staff Assigned</label> <button type="button" id="btnRight" class="btn btn-danger btn-sm">
                                                    <strong>-</strong>
                                                </button>
                                                @Html.ListBox("selectedOptions", (MultiSelectList)ViewBag.selOpts, new { @size = 10, @class = "form-control" })
                                            </div>
                                            <div class="form-group col-md-6">
                                                <label class="control-label"> Available Staff</label> <button type="button" id="btnLeft" class="btn btn-success btn-sm">
                                                    <strong>+</strong>
                                                </button>
                                                <div class="input-group">
                                                    @Html.DropDownList("PositionID", (MultiSelectList)ViewBag.PositionID, htmlAttributes: new { id = "positionFilter", @class = "form-control" })
                                                </div>


                                                @Html.ListBox("availOptions", (MultiSelectList)ViewBag.availOpts, new { @size = 10, @class = "form-control" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <input type="submit" id="btnSubmit" value="Save" class="btn btn-primary" />
                                        <button type="button" onclick="window.location.href = '@Url.Action("Index")'" class="btn btn-primary">Cancel</button>
                                    </div>
                                </form>
                            </div>
                            <!-- Right column for tables -->
                            <div class="col-md-6 px-4 py-4">
                                <!-- Labour requirement table -->
                                <h4>Labour Requirements</h4>
                                <a asp-controller="LabourRequirments" asp-route-bidID="@Model.ID" asp-action="Create" class="btn btn-primary btn-sm rounded-circle" style="margin-right: 10px;" title="Create @ViewData["ControllerFriendlyName"]">
                                    <i class="fas fa-plus"></i>
                                </a>
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>
                                                @Html.DisplayNameFor(model => model.LabourRequirments.FirstOrDefault().Hours)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.LabourRequirments.FirstOrDefault().Description)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.LabourRequirments.FirstOrDefault().UnitPrice)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.LabourRequirments.FirstOrDefault().ExtendedPrice)
                                            </th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model.LabourRequirments)
                                        {
                                            <tr>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.Hours)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.Description)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.UnitPrice)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.ExtendedPrice)
                                                </td>
                                                <td>
                                                    <a href="@Url.Action("Edit", "LabourRequirments", new { id = item.ID, bidID = Model.ID })" title="Edit @ViewData["ControllerFriendlyName"]">
                                                        <i class="fas fa-edit" style="color: #15752d;"></i>
                                                    </a> |
                                                    <a href="@Url.Action("Details", "LabourRequirments", new { id = item.ID })" title="@ViewData["ControllerFriendlyName"] Details">
                                                        <i class="fas fa-info-circle" style="color: #005fa8;"></i>
                                                    </a> |
                                                    <a href="@Url.Action("Delete", "LabourRequirments", new { id = item.ID })" title="Delete @ViewData["ControllerFriendlyName"]">
                                                        <i class="fas fa-trash-alt" style="color: #ff0000;"></i>
                                                    </a>
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>

                                <!-- Material requirement table -->
                                <h4>Material Requirements</h4>
                                <a asp-controller="MaterialRequirments" asp-action="Create" asp-route-bidID="@Model.ID" class="btn btn-primary btn-sm rounded-circle" style="margin-top: 10px;" title="Create @ViewData["ControllerFriendlyName"]">
                                    <i class="fas fa-plus"></i>
                                </a>
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>
                                                @Html.DisplayNameFor(model => model.MaterialRequirments.FirstOrDefault().Quanity)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.MaterialRequirments.FirstOrDefault().Inventory.Name)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.MaterialRequirments.FirstOrDefault().ExtendedPrice)
                                            </th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model.MaterialRequirments)
                                        {
                                            <tr>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.Quanity)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.Inventory.Name)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.ExtendedPrice)
                                                </td>
                                                <td>
                                                    <a href="@Url.Action("Edit", "MaterialRequirments", new { id = item.ID, bidID = Model.ID })" title="Edit @ViewData["ControllerFriendlyName"]">
                                                        <i class="fas fa-edit" style="color: #15752d;"></i>
                                                    </a> |
                                                    <a href="@Url.Action("Details", "MaterialRequirments", new { id = item.ID })" title="@ViewData["ControllerFriendlyName"] Details">
                                                        <i class="fas fa-info-circle" style="color: #005fa8;"></i>
                                                    </a> |
                                                    <a href="@Url.Action("Delete", "MaterialRequirments", new { id = item.ID })" title="Delete @ViewData["ControllerFriendlyName"]">
                                                        <i class="fas fa-trash-alt" style="color: #ff0000;"></i>
                                                    </a>
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
            </div>



        </div><!-- /.container-fluid -->
        <!-- /.content -->
        <!-- Control Sidebar -->
        <aside class="control-sidebar control-sidebar-dark">
            <!-- Control sidebar content goes here -->
            <div class="p-3">
                <h5>Title</h5>
                <p>Sidebar content</p>
            </div>
        </aside>
        <!-- /.control-sidebar -->
        <!-- Main Footer -->
        <footer class="main-footer">

            <!-- Default to the left -->
            <strong>    &copy; 2024 - NBDProjectNcstech - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a></strong>
        </footer>
    </div>

    <!-- jQuery -->
    <script src="plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="dist/js/adminlte.min.js"></script>
</body>
</html>






@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script src="~/js/multiselect.js"></script>
    <script src="~/js/refreshDDL.js"></script>
    <script type="text/javascript">
        $('#ProvinceID').change(function () {
            var selectedProvince = $("#ProvinceID").val();
            var URL = "/Clients/GetCities/?ProvinceID=" + selectedProvince;
            refreshDDL('CityID', URL, true, 'Select a Province with Cities first', false, null, true);
        });

        $(document).ready(function () {
            $('#positionFilter').change(function () {
                var selectedPositions = $(this).val() || [];
                $('#availOptions option').each(function () {
                    var itemPosition = $(this).val();
                    if (selectedPositions.length === 0 || selectedPositions.includes(itemPosition)) {
                        $(this).show();
                    } else {
                        $(this).hide();
                    }
                });
            });
        });
    </script>
}
